.tile-container{
    background: #343434;
   

    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-block: 2rem; */
}

.tile{
    width: 80%;
    height: 80%;
    text-align: center;
    color: #ffffff;
    border-radius: 3%;

}

.tile-lit{
    background: #ff5bad;
    border: 1px solid #ff5bad;
    box-shadow:  0px 0px 9px white;

}
.tile-dark{
    background: #682168;
    border: 1px solid #682168;

}
.hovered{
    box-shadow: inset 0px 0px 1px white;
    border: 1px solid rgb(251, 251, 150);
}