


.board-width-button{
    font-family: 'Orbitron', sans-serif; 
    font-style: bold;
    padding: 6px;
    border-radius: 1px;
    color: black;
    background: pink;
}
.board-width-button:hover{
    background:  #fae7e7
}
.board-width-button:disabled{
    background-color:white;
}

.board-width-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-width-button:nth-child(1){
    border-radius: 10px 1px 1px 10px;
}
.board-width-button:nth-child(6){
    border-radius: 1px 10px 10px 1px;
}