
.col-1{
    text-align: center;
    background-color: rgb(53, 53, 53);
    display: grid;
    height: 100vh;
    min-height: 600px;
}
.col-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 21, 21);
    height: 100vh;
    position: relative;
}
.col-1-block-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-1-block-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.site-title{
    color: white;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}
.site-title-light{
    color: white;
}
.site-title-out{
    color: pink;
}
.start-button{
    font-family: 'Orbitron', sans-serif; 
    font-style: bold;
    padding: 6px;
    border-radius: 10px;
    color: black;
    background: pink;
    width: 165px;
}
.start-button:hover{
    background: #fae7e7
}
.start-button:disabled{
    background-color: white;
}
.score{
    font-size: 45px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.instructions{
    font-family: 'Orbitron', sans-serif;
    font-style: bold;
    color: white;
    text-align: left;
    padding: 23px;
    font-size: 1em;
}
.pink{
    color: pink;
}


.all-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

@media only screen and (min-width: 785px) and (min-height: 600px){
    .page{
        display: grid;
        grid-template-columns: 1.5fr 4fr;
    }
  }

  @media only screen and (min-width: 1200px) and (min-height: 800px){
   .site-title{
    font-size: 3.5em;
   }
  }